# Ignore the 'build' folder and all its contents
build/
/02.IntroHErencia/nbproject/private/
/03.Modularidad/nbproject/private/
/04.Polimorfismo/nbproject/private/
/05.SimuladorZoologico/nbproject/private/
/01. Patron Experto/nbproject/private/
/PatronesDeDiseño-GpoB/nbproject/private/
/PatronesDeDiseño-GpoA/nbproject/private/
/exam/nbproject/private/
/06.Videojuego/nbproject/private/
/SmashBrosItsur/nbproject/private/
/07.TiendaMascotas/nbproject/private/
